<div id="myDIV" class="header">
    <% if (!currentUser) { %>
    <h2>
        Regsiter/Sign in to get full functionality
    </h2>
    <% } else { %>
        <h2>
            Hey <%= name %> Here is the to do list
        </h2>
    <form class="headerForm" action="/tasks" method="POST" onsubmit="return checkEmpty()">
        <input type="text" id="myInput" name="title" placeholder="Create task...">
        <select name="priority">
            <option value="High">High</option>
            <option value="Medium">Medium</option>
            <option value="Low">Low</option>
            <option value="Future Me">Future Me</option>

        </select>
        <input type="email" name="email" placeholder="Assign to (email)...">
        <button type="submit" class="addBtn">Add</button>
    </form>
<% } %>
</div>

<ul id="myUL">
    <% if (tasks && tasks.length> 0) { %>
        <% tasks.forEach(task=> { %>
            <li>
                <div class="task-line">
                    <div><span class="taskHeaders">Task:</span>
                        <%= task.title %>
                    </div>
                    <div><span class="taskHeaders"> Assigned To:</span>
                        <%= task.users.map(user=>user.name).join(', ') %>
                    </div>
                    <span class="priority-badge" data-priority="<%= task.priority %>">
                        <%= task.priority %>
                    </span>
                    <% if (currentUser) { %>
                    <form action="/erase/<%= task.id %>?_method=DELETE" method="POST">
                        <button type="submit" class="close"><i class="fa-solid fa-trash-can fa-lg"></i></button>
                    </form>
                </div>

                <button type="button" class="editBtn" onclick="openModal(<%= task.id %>)">

                    <i class="fa-solid fa-pencil"></i>
                </button>
                <% } %>
            </li>
            <% }) %>
                <% } else { %>
                    <li>No tasks yet. Add some!</li>
                    <% } %>
</ul>

<!-- The Modal -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close modalClose">&times;</span>
        <form id="editForm" method="POST" action="">
            <input type="text" id="editInput" name="editInput" placeholder="Edit task...">
            <button type="submit" class="addBtn">Edit</button>
        </form>
    </div>

</div>